<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISSA'S STORE</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <header class="page-header-logo">
        <div class="container">
            <h1 class="page-header-logo-title">LISSA'S STORE
            </h1>
            {% include 'loginForm.tmpl' %}
        </div>
    </header>
    <div class="page-main-content">
        {% include 'menu.tmpl' %}
        {{content}}
    </div>

    <footer class="page-footer"></footer>
</body>

</html>