<link rel="stylesheet" href="../css/style.css">
<title>Просмотр изображения</title>
<h1>Просмотр изображения</h1>
<div class="view-img-views">
    Просмотров: {{imgViews}}
</div>
<img src="/img/big/{{imgName}}" alt="{{imgName}}" class="viewimg-img">